
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
var/cache/dev/srcApp_KernelDevDebugContainer.php
var/cache/dev/srcApp_KernelDevDebugContainer.php.meta
var/cache/dev/srcApp_KernelDevDebugContainer.xml
var/cache/dev/srcApp_KernelDevDebugContainer.xml.meta
var/cache/dev/srcApp_KernelDevDebugContainerCompiler.log
var/cache/dev/srcApp_KernelDevDebugContainerDeprecations.log
var/cache/dev/srcApp_KernelDevDebugContainerUrlGenerator.php
var/cache/dev/srcApp_KernelDevDebugContainerUrlGenerator.php.meta
var/cache/dev/srcApp_KernelDevDebugContainerUrlMatcher.php
var/cache/dev/srcApp_KernelDevDebugContainerUrlMatcher.php.meta
