<form method="post" action="{{ path('hotsales_delete', {'idHotsale': hotsale.idHotsale}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hotsale.idHotsale) }}">
    <button class="btn">Delete</button>
</form>
