{% extends 'base.html.twig' %}

{% block title %}Edit Hotsales{% endblock %}

{% block body %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="container">
    <h1>Editar Hotsale</h1>

    {{ include('hotsales/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('hotsales_index') }}">Volver a la lista</a>
</div>
{% endblock %}
