{% extends 'base.html.twig' %}

{% block title %}Nuevo Hotsale{% endblock %}
{% block bodyTitle %}
    <h1>Crear un nuevo Hotsale</h1>
{% endblock %}

{% block body %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="container">
    <br>
    
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div id="hotsale-form">
                {{ include('hotsales/_form.html.twig') }}
        
            </div>
            <br>
            <a href="{{ path('hotsales_index') }}">Volver a la lista</a>
        </div>
    </div>

</div>
    {% endblock %}
    {% block javascripts %}
    {{ parent()}}
    
    <script>
        jQuery(document).ready(function(){
            $('.js-datepicker-start').datepicker({
                weekStart: 1,
                startDate: "+1w",
                //endDate: "+26w",
                daysOfWeekDisabled: "0,2,3,4,5,6",
                daysOfWeekHighlighted: "1",
                format: "yyyy/mm/dd",
                autoclose: true,
            });
        });
    </script>


{% endblock %}
