{% extends 'base.html.twig' %}

{% block title %}Editar subasta{% endblock %}

{% block bodyTitle %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if is_granted('ROLE_ADMIN') %}
    <h1>Editar subasta</h1>
    {% else  %}
        <h1>Tu usuario no tiene acceso a esta pagina.</h1>
    {% endif %}
    {% endif %}
{% endblock %}


{% block body %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% if is_granted('ROLE_ADMIN') %}

    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    <div class="container">

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success">Modificar</button>
        <a href="{{ path('subastas_listado') }}" class="btn btn-danger">Cancelar</a>
            
    </div>
{% endif %}
{% else %}
    <div align="center" class="container">
        </br></br> </br></br></br>
        <p>No ha iniciado sesión</p>
        <a href="/inicio" class="btn btn-info">Iniciar sesión</a>
    </div>
{% endif %}
{% endblock %}