a.custom_card,
a.custom_card:hover{
    color: inherit;
}

img.residencia-img-cover {
    object-fit: cover;
    opacity: 0.5;
    z-index: 0;
  
}

span#highlight{
    color: #A9FFFC;
}

#img_detalle{
    border-radius: 0.8rem;
}

#gradient-overlay{
    background-image: linear-gradient(to bottom right, rgba(0, 53, 255, 0.61),rgb(0, 0, 0), rgba(255, 177, 0, 0.62))
}

