#logo-image{
    width:100px;
}
#logo-text{
    width:200px;
}

.navbar-nav > li > .dropdown-menu {     background-color: #2d3347;  }

/* Dropdown menu font color*/ 

 .navbar-nav > li > .dropdown-menu a{   color: #e3f9ff;  }