<link rel="stylesheet" href="/css/navbar.css">

<div class="container"></div>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(17, 25, 27);" >

    <a class="navbar-brand" href="/filtro">
        {#<img id="logo-image"src="/images/logos/HSH-Logo.svg" alt="Brand_logo">
        <img id="logo-text" src="/images/logos/HSH-Text.svg" alt="">#}
        <image id="logo-image"src="/images/logos/HSH-Complete.svg" style="width:20%" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mobile-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/hotsales/">Hotsales </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}


          <li class="nav-item dropdown show">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Funciones de Administrador</a>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" href="/residencias">Ver Residencias </a>
              <a class="dropdown-item" href="/usuarios/listado">Ver Usuarios</a>
              <a class="dropdown-item"href="/suscripciones/configurar">Configuración de precios</a>
            </div>
          </li>
        {% endif %}




          {#<li class="nav-item">
            <a class="nav-link" href="/usuarios/listado">Usuarios </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/suscripciones/configurar">Configuración de precios </a>
          </li>
        {% endif %}#}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

          <li class="nav-item dropdown show">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Funciones básicas</a>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" href="/usuarios/perfil">Ver Mi Perfil </a>
              <a class="dropdown-item" href="/subastas/listado"><font color="Green"><strong>Subastas </strong></font></a>
              <a class="dropdown-item" href=""><strong><font color="Green">HotSales</strong> </font></a>
              <a class="dropdown-item" href="/contacto">Contacto</a>
              <a class="dropdown-item" href="/preguntas_frecuentes">Preguntas freceuntes</a>
            </div>
          </li>

          <li class="nav-item">
            {% if is_granted("ROLE_ADMIN") %}
              <a class="nav-link" href="/logout">Cerrar sesión {{ app.user.getIdUsuario().getEmail() }}</a>
            {% else %}
              <a class="nav-link" href="/logout">Cerrar sesión {{app.user.getEmail()}}</a>
            {% endif %}
          </li>
        {% endif %}


        {#{% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li class="nav-item">
          <a class="nav-link" href="/usuarios/perfil">Mi Perfil </a>
        </li>
        {% endif %}
        {% if is_granted("ROLE_ADMIN") %}
        <li class="nav-item">
          <a class="nav-link" href="/residencias">Residencias </a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="/subastas/listado">Subastas </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">HotSales </a>
        </li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li class="nav-item">
          {% if is_granted("ROLE_ADMIN") %}
            <a class="nav-link" href="/logout">Cerrar sesión {{ app.user.getIdUsuario().getEmail() }}</a>
          {% else %}
            <a class="nav-link" href="/logout">Cerrar sesión {{app.user.getEmail()}}</a>
          {% endif %}
        </li>
        
        {% endif %}#}

        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
          <li class="nav-item">
            <a class="nav-link" href="/inicio">Iniciar sesión</a>
          </li>
        {% endif %}
      </ul>
      </div>
  </nav>
</div>
