<link rel="stylesheet" href="/css/navbar.css">

<div class="container"></div>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(17, 25, 27);" >

    <a class="navbar-brand" href="/residencias">
        <img id="logo-image"src="/images/logos/HSH-Logo.svg" alt="Brand_logo">
        <img id="logo-text" src="/images/logos/HSH-Text.svg" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mobile-nav">

      <ul class="navbar-nav ml-auto">
        {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item">
            <a class="nav-link" href="/usuarios/listado">Usuarios |</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/suscripciones/configurar">Configuraci贸n de precios |</a>
          </li>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li class="nav-item">
          <a class="nav-link" href="/usuarios/perfil">Mi Perfil |</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="/residencias">Residencias |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/subastas/listado">Subastas |</a>
        </li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li class="nav-item">
          {% if is_granted("ROLE_ADMIN") %}
            <a class="nav-link" href="/logout">Cerrar sesi贸n {{ app.user.getIdUsuario().getEmail() }}</a>
          {% else %}
            <a class="nav-link" href="/logout">Cerrar sesi贸n {{app.user.getEmail()}}</a>
          {% endif %}
        </li>
        {% endif %}

        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
          <li class="nav-item">
            <a class="nav-link" href="/inicio">Iniciar sesi贸n</a>
          </li>
        {% endif %}
      </ul>
      </div>
  </nav>
</div>
