<link rel="stylesheet" href="/css/navbar.css">
{% if is_granted('IS_AUTHENTICATED_FULLY') %}

<div class="container"></div>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(17, 25, 27);" >
    
    <a class="navbar-brand" href="#">
        <img id="logo-image"src="/images/logos/HSH-Logo.svg" alt="Brand_logo">
        <img id="logo-text" src="/images/logos/HSH-Text.svg" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="mobile-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/residencias">Residencias |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/subastas/listado">Subastas |</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar sesión {{ app.user.getEmail().getEmail() }}</a>
          </li>
      </ul>
      </div>
    
  </nav>
</div>
{% else %}
{% endif %}