{% block title %}{% endblock %}
{% block body %}
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <br/><br/>
    <div align="center">
        <image id="logo-image"src="/images/logos/HSH-Complete.svg" width="500" />
    </div>
    <br/><br/><br/>
    <div align="center">
        <a href="/login" class="btn btn-light">Soy administrador</a>
    </div>
{% endblock %}