{% extends 'base.html.twig' %}

{% block title %}Editar residencia{% endblock %}

{% block body %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}

    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    <h1>Editar residencia</h1>
    <div class="container">

        {{ include('residencias/_form.html.twig', {'button_label': 'Guardar cambios'}) }}
            
        <br>
        <a href="{{ path('residencias_index') }}" class="btn btn-secondary">Atras</a>
        <br>
        {{ include('residencias/_delete_form.html.twig') }}
        <br>
            
    </div>
{% else %}
    <div align="center" class="container">
        </br></br> </br></br></br>
        <p>No ha iniciado sesión</p>
        <a href="/inicio" class="btn btn-info">Iniciar sesión</a>
    </div>
{% endif %}
{% endblock %}
