{% extends "base.html.twig" %}


{% block body %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <br>
    <h1>Listado de residencias:</h1>
    <br>
    <br>

    <div class="container">
        {% if residencias %}
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Tipo</th>
                        <th scope="col">Habitaciones</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for residencia in residencias %}
                        <tr>
                            <td> {{ residencia.tipo }}</td>
                            <td> {{ residencia.habitaciones }} </td>
                            <td> {{ residencia.descripcion }} </td>
                            <td>
                                <a href="/residencia{{ residencia.idResidencia }}" class="btn btn-info">Detalles</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        {% endif %}
    </div>
{% else %}
    <div align="center" class="container">
        </br></br> </br></br></br>
        <p>No ha iniciado sesión</p>
        <a href="/inicio" class="btn btn-info">Iniciar sesión</a>
    </div>
{% endif %}
{% endblock %}