{% extends 'base.html.twig' %}

{% block title %}Nueva residencia{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <br>
    <h1>Crear nueva residencia</h1>
    <br>
    <br>
    <div class="container">

        {{ include('residencias/_form.html.twig') }}
        <br>
        <a href="{{ path('residencias_index') }}" class="btn btn-secondary">Atras</a>
    </div>
{% endblock %}
